@font-face{
    font-family: "Suisse";
    src: url(../fonts/SuisseIntl-Regular.ttf);
  }

.big-wrapper2{
    background-color: #FFFeF3;
    color : #333;
    margin-left: 10px;
    padding: 10px;
    font-family: Suisse;
}

.top-section{
    background-color: #FFFeF3;
    color : #333;
    display: flex;
    flex-direction: row;

}

.formulations{
    background-color: #FFFeF3;
    color : #333;
    width: 20%;
}

.products-lineup{
    background-color: #FFFeF3;
    color : #333;
    width: 80%;
    display: flex;

}

.imgs{
    width: 265px;
    height: 261px;
}

.middle-section{
    background-color: #FFFeF3;
    color : #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-side{
    background-color: #FFFeF3;
    color : #333;
    margin-left: 20%;
    padding-top: 20px;
    /* width: 50%; */
}

.right-side{
    background-color: #FFFeF3;
    color : #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    /* margin-left: 10%; */
    /* width: 500px; */
    float: left;
}

.right-part{
    margin-left: 200px;
    margin-top: 5px;
}

.bottom-section{
    background-color: #FFFeF3;
    color : #333;
    display: flex;
    flex-direction: row;
}

.contact{
    background-color: #FFFeF3;
    color : #333;
    width: 35%;
    text-align: left;
}

.right-bottom{
    background-color: #FFFeF3;
    color : #333;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.left-column{
    background-color: #FFFeF3;
    color : #333;
}

.right-column{
    background-color: #FFFeF3;
    color : #333;
}

.input-field{
    background-color: #FFFeF3;
    border: none;
    border-bottom: 1px solid #333;
    width: 70%;
}

