
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@font-face{
  font-family: "Suisse";
  src: url(../fonts/SuisseIntl-Regular.ttf);
}

.big-wrapper{
  font-family: Suisse;
  height: 120vh;
}

.description2{
  background-color: #FFFeF3;
  display: flex;
  flex-direction: row;
  color : #333;
  /* margin: 10px; */
  padding-left: 10px;
}

.design{
  width: 30%;
  text-align: left;
  padding: 10px;
}

.store-finder{
  width: 70%;
  font-size: 12px;
  text-align: left;
  margin-top: 18px;
}

.btn{
  border: 1px solid grey;
  background-color: #FFFeF3;
  box-shadow: 1px 2px #bdbdbd;
  color: #333;
}