.item1 {
  width: 265px;
  height: 261px;
}

.item2 {
  width: 265px;
  height: 261px;
}

.item3 {
  width: 265px;
  height: 261px;
}

.item4 {
  width: 265px;
  height: 261px;
}

.item5 {
  width: 265px;
  height: 261px;
}

.products2 {
  display: flex;
}

.prod2Description {
  margin-left: 50px;
  width: 30%;
}

.prod2Images {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.kits2 {
  display: flex;
}

.kits2Description {
  margin-left: 50px;
  width: 30%;
}

.products3 {
  display: flex;
}

.prod3Description {
  margin-left: 50px;
  width: 30%;
}

.prod3Images {
  display: flex;
  flex-direction: row;
  width: 70%;
}

@font-face {
  font-family: "Zapf";
  src: url(./components/assets/font/zapf_humanist_601_bt.ttf);
}

body {
  background-color: #FFFEF3;
  font-family: Zapf;
}

